.App {
  text-align: center;
}

.logoHeader {
  margin-top: 50px;
  margin-bottom: 50px;
}

.MYtinerarylogo {
  width: 75%;
}

.bodyInfo {
  margin: 20px 20px 70px 20px; 
  font-size: 16px;
  font-weight: 500; 
}

.browseButton {
  width: 35%;
  margin-bottom: 20px;
}


.accountInfo {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.homeButton {
  height: 50px;
  width: 50px; 
  }

/*Cities Page*/

.cityImg {
  width: 80px;
}